<!-- navar template VBulletin -->

<div id="navbar" class="navbar">

<ul id="navtabs" class="navtabs floatcontainer<vb:if condition="$show['member'] AND $notifications_total"> notify</vb:if>">
		{vb:raw template_hook.navtab_start}
		<vb:if condition="!$vboptions['selectednavtab']">

<li class="selected" ><a class="navtab" href="{vb:raw vboptions.forumhome}.php{vb:raw session.sessionurl_q}">{vb:rawphrase forum}</a>

<li><a href="//reystmdev.istackmanila.com/forum/toolbox/" target="_blank" class="navtab" style="background:#f88a41;">STM Toolbox</a></li>

<li><a href="//reystmdev.istackmanila.com/amember/" target="_blank" class="navtab">Member Area</a></li>

<li><a href="https://affiliateworldconferences.com/asia/#/" target="_blank" class="navtab">Affiliate World Asia</a></li>

<li><a href="http://meetups.reystmdev.istackmanila.com/home" target="_blank" class="navtab">Networking Events</a></li>

<li><a href="#" class="navtab" id="support-initiate" onClick="logUserUsedContactSupport()">Contact Support</a></li>

<ul class="floatcontainer" style="margin-top:2px">
			{vb:raw template_hook.navbar_start}
					<vb:if condition="$show['searchbuttons']">
						<vb:if condition="$show['member']">
						<li id="newposts"><a href="search.php?{vb:raw session.sessionurl}do=getnew&amp;contenttype=vBForum_Post">{vb:rawphrase new_posts_nav}</a></li>
						<vb:else />
						<li><a href="search.php?{vb:raw session.sessionurl}do=getnew&amp;contenttype=vBForum_Post">{vb:rawphrase todays_posts}</a></li>
						</vb:if>
					</vb:if>
					{vb:raw template_hook.navbar_after_getnew}


<li class="popupmenu">
<a href="javascript://" class="popupctrl">New Threads</a>
<ul class="popupbody popuphover">
<li>
<a href="search.php?do=process&contenttype=vBForum_Post&replyless=1&replylimit=0&exclude=107&nocache=1&sortby=threadstart&searchdate=lastvisit&beforeafter=after">Since Last Visit</a>
</li>
<li>
<a href="search.php?do=process&contenttype=vBForum_Post&replyless=1&replylimit=0&exclude=107&nocache=1&sortby=threadstart&searchdate=1&beforeafter=after">Last Day</a>
</li>
<li>
<a href="search.php?do=process&contenttype=vBForum_Post&replyless=1&replylimit=2&exclude=107&nocache=1&sortby=threadstart&searchdate=3&beforeafter=after">Last 3 Days</a>
</li>
<li>
<a href="search.php?do=process&contenttype=vBForum_Post&replyless=1&replylimit=5&exclude=107&nocache=1&sortby=threadstart&searchdate=7&beforeafter=after">Last 7 Days</a>
</li>
</ul>
</li>


					<vb:if condition="$show['pmmainlink']">
						<li><a href="private.php{vb:raw session.sessionurl_q}" rel="nofollow">{vb:rawphrase private_messages}</a></li>
					</vb:if>
					{vb:raw template_hook.navbar_after_pm}
					<vb:if condition="$show['communitylink']">
					<li class="popupmenu">
						<a href="javascript://" class="popupctrl" accesskey="6">{vb:rawphrase community}</a>
						<ul class="popupbody popuphover">
							{vb:raw template_hook.navbar_community_menu_start}
							<vb:if condition="$show['quick_links_groups']">
								<li><a href="group.php{vb:raw session.sessionurl_q}">{vb:rawphrase social_groups}</a></li>
							</vb:if>
							<vb:if condition="$show['quick_links_albums']">
								<li><a href="album.php{vb:raw session.sessionurl_q}">{vb:rawphrase pictures_and_albums}</a></li>
							</vb:if>
							<vb:if condition="$bbuserinfo['userid']">
								<li><a href="profile.php?{vb:raw session.sessionurl}do=buddylist"><vb:if condition="$show['friends_and_contacts']">{vb:rawphrase contacts_and_friends}<vb:else />{vb:rawphrase contacts}</vb:if></a></li>
							</vb:if>
							<vb:if condition="$show['memberslist']">
								<li><a href="memberlist.php{vb:raw session.sessionurl_q}">{vb:rawphrase members_list}</a></li>
							</vb:if>
							{vb:raw template_hook.navbar_community_menu_end}		
						</ul>
					</li>
					</vb:if>
					{vb:raw template_hook.navbar_after_community}
					<li class="popupmenu">
						<a href="javascript://" class="popupctrl">{vb:rawphrase forum_actions}</a>
						<ul class="popupbody popuphover">
							<li>
								<a href="forumdisplay.php?{vb:raw session.sessionurl}do=markread&amp;markreadhash={vb:raw bbuserinfo.securitytoken}">{vb:rawphrase mark_forums_read}</a>
							</li>
                                                        <vb:if condition="$show['member']">
							<li>
								<a href="profile.php?{vb:raw session.sessionurl}do=editoptions">{vb:rawphrase edit_options}</a>
							</li>
							<li>
								<a href="profile.php?{vb:raw session.sessionurl}do=editprofile">{vb:rawphrase edit_your_details}</a>
							</li>
							</vb:if>
						</ul>
					</li>
					<li class="popupmenu">
						<a href="javascript://" class="popupctrl" accesskey="3">{vb:rawphrase quick_links}</a>
						<ul class="popupbody popuphover">
							<vb:if condition="$show['member']">
								<li><a href="subscription.php{vb:raw session.sessionurl_q}" rel="nofollow">{vb:rawphrase subscribed_threads}</a></li>
						
<li><a href="javascript://" onclick="window.open(getBaseUrl() + 'misc.php?{vb:raw session.sessionurl}do=buddylist&amp;focus=1','buddylist','statusbar=no,menubar=no,toolbar=no,scrollbars=yes,resizable=yes,width=250,height=300'); return false;">{vb:rawphrase open_contacts}</a></li>
							</vb:if>
							<vb:if condition="$vboptions['forumleaders']">
							<li><a href="showgroups.php{vb:raw session.sessionurl_q}" rel="nofollow">
		<vb:if condition="$vb_suite_installed">
			{vb:rawphrase view_site_leaders}
		<vb:else />
			{vb:rawphrase view_forum_leaders}
		</vb:if>
	</a></li>
							</vb:if>
							{vb:raw template_hook.navbar_quick_links_menu_pos1}
							{vb:raw template_hook.navbar_quick_links_menu_pos2}
							{vb:raw template_hook.navbar_quick_links_menu_pos3}
							<vb:if condition="$show['wollink']">
								<li><a href="online.php{vb:raw session.sessionurl_q}">{vb:rawphrase whos_online}</a></li>
							</vb:if>
							{vb:raw template_hook.navbar_quick_links_menu_pos4}
						</ul>
					</li>

					<li><a rel="enablestats" href="misc.php?do=enablestats">Enable Topstats</a></li>

					{vb:raw template_hook.navbar_end}
				</ul>

			</li>
		<vb:else />
			<li><a class="navtab" href="{vb:raw vboptions.forumhome}.php{vb:raw session.sessionurl_q}">{vb:rawphrase forum}</a></li>
		</vb:if>
		{vb:raw template_hook.navtab_middle}
	{vb:raw template_hook.navtab_end}
	</ul>

	<vb:if condition="$vboptions['enablesearches']">
	<div id="globalsearch" class="globalsearch">
		<form action="search.php?{vb:raw session.sessionurl}do=process" method="post" id="navbar_search" class="navbar_search" style="height:34px">
			<vb:comment><input type="hidden" name="s" value="{vb:raw session.sessionurl}" /></vb:comment>
			<input type="hidden" name="securitytoken" value="{vb:raw bbuserinfo.securitytoken}" />
			<input type="hidden" name="do" value="process" />
			<span class="textboxcontainer"><span><input type="text" name="query" class="textbox" tabindex="99" value="Have a question? Search here!" onfocus="if (this.value == 'Have a question? Search here!') this.value = '';" onblur="if (this.value == '') this.value = 'Have a question? Search here!';"/></span></span>
			<span class="buttoncontainer"><span><input type="image" class="searchbutton" src="{vb:stylevar imgdir_button}/search.<vb:if condition="(is_browser('ie') AND !is_browser('ie', 7) AND !is_browser('ie', 8))">gif<vb:else />png</vb:if>" name="submit" onclick="document.getElementById('navbar_search').submit;" tabindex="100"/></span></span>
		</form>
		<ul class="navbar_advanced_search">
		<li><a id="advanced_search" href="search.php{vb:raw session.sessionurl_q}?search_type=1" accesskey="4">{vb:rawphrase advanced_search}</a></li>
		{vb:raw template_hook.navbar_advanced_search}
	</ul>		
	</div>
	</vb:if>
</div>
</div><!-- closing div for above_body -->

<div class="body_wrapper">
<div id="breadcrumb" class="breadcrumb">
	<ul class="floatcontainer">
		<li class="navbithome"><a href="index.php{vb:raw session.sessionurl_q}" accesskey="1"><img src="{vb:stylevar imgdir_misc}/navbit-home.png" alt="{vb:rawphrase home}" /></a></li>

		{vb:raw navbits.breadcrumb}
		{vb:raw navbits.lastelement}
	</ul>
	<hr />
</div>

{vb:raw ad_location.ad_navbar_below}
{vb:raw ad_location.global_below_navbar}

<vb:if condition="$show['notices'] AND THIS_SCRIPT != 'register'">
	<form action="profile.php?do=dismissnotice" method="post" id="notices" class="notices">
		<input type="hidden" name="do" value="dismissnotice" />
		<input type="hidden" name="s" value="{vb:raw session.sessionurl}" />
		<input type="hidden" name="securitytoken" value="{vb:raw bbuserinfo.securitytoken}" />
		<input type="hidden" id="dismiss_notice_hidden" name="dismiss_noticeid" value="" />
		<input type="hidden" name="url" value="{vb:raw return_link}" />
		<ol>
			{vb:raw notices}
		</ol>
	</form>
</vb:if>