<?php 
if (empty($title)) $title=___('Sign-up');
else $title=___($title);
$this->setLayout('layout.phtml'); 
include $this->_script('_error.phtml');

$this->headScript()
        ->appendFile(REL_ROOT_URL . '/application/default/views/public/js/jquery/jquery.validate.js');
?>
<style type="text/css">
h1{
  font-family: 'proxima-nova', sans-serif;
  font-weight:700 !important;
  font-size: 45px !important;
  text-align:center;
  color:#1B81DC;
  margin-bottom: 2px !important;
}
.am-body,.am-layout{
    background:#d61f26;
}
.am-form form {
    border: 1px solid #AAA;
    border-radius: 15px;
    box-shadow: 0px 5px 1px #AAA;
    background: none repeat scroll 0% 0% #EEE;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}
.am-form div.row {
    border-bottom: 1px solid #DDD;
}
.am-body{margin-top: 20px !important;}
.am-body-content-wrapper{ border-radius: 10px;}
</style>

<script type="text/javascript">
  mixpanelTrack(function() {
      mixpanel.track('Signup Page View');
  });
</script>

<p style="text-align:center;color:#d61f26;font-weight:300;font-family:'proxima-nova',sans-serif;font-size:18px;margin-bottom:10px !important;">Voted #1 Affiliate Marketing Forum and Recommended by the Top 5 Affiliate Networks.</p>
<div class="am-signup">
<?php echo $this->blocks('signup/login/before') ?>
<?php include $this->_script('signup/_login-offer.phtml'); ?>
<?php echo $this->blocks('signup/login/after') ?>
    
<?php echo $this->blocks('signup/form/before') ?>
<?php include $this->_script('_form.phtml'); ?>
<?php echo $this->blocks('signup/form/after') ?>
</div>
<?php include $this->_script('js.country_state.js'); ?>

<!--testimonials-->

<!-- <div style="width:570px;margin-left:auto;margin-right:auto;padding-top:10px"><img src="http://stackthatmoney.com/images/test1.png"></div> -->