<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><?php p(isset($meta_title) ? $meta_title : $title) ?></title>
        <?php $this->printLayoutHead(); ?>

        <!-- start Mixpanel AMember -->
        <script type="text/javascript" src="<?php echo '/stm-libraries/js/mixpanel.js'; ?>"></script>
        <!-- end Mixpanel AMember -->

        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        function validate() {

            ga('create', 'UA-91826928-1','auto');
            ga('require', 'ec');

            ga('ec:addProduct', {
                'id': 'STM1',
              'name': 'STM Forum',
              'variant': 'V1',
              'price': '99',
              'quantity': 1,
              'brand': 'STM',
              'category': 'Forum'
            });

            ga('ec:setAction', 'checkout', {
              'id': 'STM1',
              'name': 'STM Forum',
              'variant': 'V1',
              'price': '99',
              'quantity': 1,
              'brand': 'STM',
              'category': 'Forum',
              'step': 1
            });

            ga('send', {
                hitType: 'pageview',
                title: 'InitiateCheckout'
            });

             ga('send', {
                hitType: 'event',
                eventCategory: 'InitiateCheckout',
                eventAction: 'View',
                eventLabel: 'V1'       //STM Forum version, leave V1 for now
            });

            return true;
        }
        </script>

    </head>
    <body<?php if (!empty($this->body_class)): ?> class="<?php p($this->body_class) ?>"<?php endif; ?>>
        <?php echo $this->placeholder('body-start'); ?>
        <div class="am-layout am-common">
            <a name="top"></a>
            <div class="am-header">
                <div class="am-header-content-wrapper am-main">
                    <div class="am-header-content">
                        <?php include $this->_script('_logo.phtml'); ?>
                        <div class="am-header-content-content">
                            <?php echo $theme->getConfig('header'); ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-header-line">

            </div>
            <div class="am-body">
                <div class="am-body-content-wrapper am-main">
                    <?php include $this->_script('_content.phtml'); ?>
                </div>
            </div>
        </div>
        <div class="am-footer">
            <div class="am-footer-content-wrapper am-main">
                <div class="am-footer-content">
                    <div class="am-footer-actions">
                        <a href="#top"><img src="<?php echo $this->_scriptImg('/top.png') ?>" /></a>
                    </div>
                    <div class="am-credits">Built on <a href="http://www.amember.com/" style="text-decoration: none;" title="flexible, user-friendly membership software (subscription script)">aMember Pro&trade; membership software</a></div>
                    <?php echo $theme->getConfig('footer', $di->config->get('site_title')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->placeholder('body-finish'); ?>
    </body>
</html>