<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>TEST <?php p(isset($meta_title) ? $meta_title : $title) ?></title>
        <?php $this->printLayoutHead(); ?>

        <script type="text/javascript" src="<?php echo '/stm-libraries/js/getcookie.js'; ?>"></script>
        <script type="text/javascript" src="<?php echo '/stm-libraries/js/segment.js'; ?>"></script>
        <script type="text/javascript">
        identify( function() {
            analytics.identify(getCookie('amember_id'), {
                'Current Status' : 'Purchased',
                '$email'         : getCookie('amember_email')
            });
        } );
        </script>
    </head>
    <body<?php if (!empty($this->body_class)): ?> class="<?php p($this->body_class) ?>"<?php endif; ?>>
        <?php echo $this->placeholder('body-start'); ?>
        <div class="am-layout am-common">
            <a name="top"></a>
            <div class="am-header">
                <div class="am-header-content-wrapper am-main">
                    <div class="am-header-content">
                        <?php include $this->_script('_logo.phtml'); ?>
                        <div class="am-header-content-content">
                            <?php echo $theme->getConfig('header'); ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-header-line">

            </div>
            <div class="am-body">
                <div class="am-body-content-wrapper am-main">
                    <?php include $this->_script('_content.phtml'); ?>
                </div>
            </div>
        </div>
        <div class="am-footer">
            <div class="am-footer-content-wrapper am-main">
                <div class="am-footer-content">
                    <div class="am-footer-actions">
                        <a href="#top"><img src="<?php echo $this->_scriptImg('/top.png') ?>" /></a>
                    </div>
                    <div class="am-credits">Built on <a href="http://www.amember.com/" style="text-decoration: none;" title="flexible, user-friendly membership software (subscription script)">aMember Pro&trade; membership software</a></div>
                    <?php echo $theme->getConfig('footer', $di->config->get('site_title')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->placeholder('body-finish'); ?>
    </body>
</html>