<?php
$this->headMeta()->setName('robots', 'noindex,nofollow');
$this->placeholder("head-start")->prepend(sprintf('<base href="//%s" />',  Am_Html::escape($_SERVER['HTTP_HOST']))) ?>
<?php $title = ___('Thank you for Signing up'); $this->setLayout('layout_thanks.phtml'); ?>

<script type="text/javascript" src="<?php echo '/stm-libraries/js/mixpanel.js'; ?>"></script>
<script type="text/javascript" src="<?php echo '/stm-libraries/js/getcookie.js'; ?>"></script>

<?php if (empty($invoice) || !$invoice->tm_started): ?>
<?php if(!empty($invoice) && !$invoice->isConfirmed()): ?>
    <?php __e($di->config->get('manually_approve_note', <<<CUT
<strong>IMPORTANT NOTE: We review  all new payments manually, so your payment is under review currently.<br/>
You will get  email notification after payment will be approved by admin. We are sorry  for possible inconvenience.</strong>
CUT
        )) ?>
<?php elseif (@$show_waiting && !empty($invoice)): ?>
<div class="am-thanks-awaiting-payment">
    <?php __e("Your payment is not yet confirmed by payment system. It may take several minutes to get confirmation of the payment.") ?>
    <div class="am-thanks-awaiting-refresh">
    <?php __e("This page will be automatically refreshed within %s", $refreshTime) ?>
    </div>
</div>
<script type="text/javascript">
<?php echo $script ?>
</script>
<?php echo $this->blocks('thanks/notstarted'); ?>
<?php else : ?>
<?php if ($di->auth->getUserId()) : ?>
<strong><?php __e("Enjoy your membership. Please click %shere%s to access your member's area.",'<a href="'.ROOT_SURL .'/login">','</a>') ?></strong>
<?php else : ?>
<strong><?php __e('Enjoy your membership. To Login please click here %sLogin%s','<a href="'.ROOT_SURL .'/login">','</a>') ?></strong>
<?php endif ?>
<?php endif ?>
<br />
<?php echo $this->blocks('thanks/unknown'); ?>

<?php elseif ($invoice->tm_started): ?>

<?php if ($invoice->first_total > 0): ?>
<?php __e('Your payment has been successfully processed.') ?><br />
<?php __e('Order reference: %s', '<strong>' . $this->escape($payment->getDisplayInvoiceId()) . '</strong>') ?><br />
<?php __e('Transaction reference: %s', '<strong>' . $this->escape($payment->receipt_id) . '</strong>') ?><br />
<?php __e('Date and time of payment: %s', '<strong>' . amDatetime($payment->dattm) . '</strong>') ?><br />
<?php else: ?>
<?php __e('Your subscription has been successfully processed.') ?>
<?php endif ?>
<br /><br />

<?php include $this->_script('_receipt.phtml'); ?>

<?php if ($di->auth->getUserId()) : ?>
<strong><?php __e("Enjoy your membership. Please click %shere%s to access your member's area.",'<a href="'.ROOT_SURL .'/login">','</a>') ?></strong>
<?php else : ?>
<?php include $this->_script('_thanks-login-details.phtml'); ?>
<strong><?php __e('Enjoy your membership. To Login please click here %sLogin%s','<a href="'.ROOT_SURL .'/login">','</a>') ?></strong>
<?php endif ?>
<br />

<?php echo $this->blocks('thanks/success'); ?>

<?php endif // invoice->tm_started ?>